body {
    font-family: "Georgia", 'Times New Roman', serif;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

ol {
    list-style-position: inside;
    padding: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}